CONFIG_IDF_TARGET="esp32"
CONFIG_IDF_TARGET_ESP32=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_TAREA3_WIFI_SSID="CAMBIA_TU_WIFI"
CONFIG_TAREA3_WIFI_PASSWORD="CAMBIA_TU_CLAVE"
CONFIG_TAREA3_MQTT_URI="mqtt://broker.hivemq.com:1883"
CONFIG_TAREA3_TOPIC_BASE="javier_pacheco_micro_2026_c2/tarea3"
CONFIG_TAREA3_LED_GPIO=2
CONFIG_TAREA3_BUTTON_GPIO=0
